@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Open Sans', sans-serif;
}

/*video {*/
  /*-webkit-transform: scaleX(-1);*/
  /*transform: scaleX(-1);*/
/*}*/

.test_abs {
  box-sizing: border-box;
  /* background: blue; */
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.background {
  /* background-image: url("https://www.bing.com/az/hprichbg/rb/Pygmy3Toed_EN-US11340370698_1920x1080.jpg"); */
  background-size: cover;
  filter: blur(10px);
  height: 110%;
  margin-left: -5%;
  margin-top: -2%;
  position: fixed;
  width: 110%;
}

#modal-content {
  height: 100vh;
  position: absolute;
  /*display: none;*/
  width: 100%;
  z-index: 1045;
}

.modal-1 {
  /*height: 34rem;*/
  left: calc(50% - 15rem);
  max-width: 30rem;
  top: calc(50% - 16.5rem);
  padding: 50px;
  width: 100%;
  z-index: 700;
}

.modal-my {
  /*height: 34rem;*/
  left: calc(50% - 15rem);
  max-width: 30rem;
  top: calc(50% - 16.5rem);
  padding: 50px;
  width: 100%;
  z-index: 700;
}

.modal-admin {
  /*height: 34rem;*/
  left: calc(50% - 30rem);
  max-width: 60rem;
  top: 5%;
  padding: 50px;
  height: 90%;
  width: 100%;
  z-index: 700;
}

.modal-camera{
  /*height: 34rem;*/
  left: calc(50% - 30rem);
  max-width: 60rem;
  top: 5%;
  padding: 50px;
  height: 90%;
  width: 100%;
  z-index: 700;
}

.modal-2 {
  /*height: 38rem;*/
  left: calc(50% - 25rem);
  max-width: 50rem;
  top: calc(50% - 19rem);
   padding: 50px;
  width: 100%;
  z-index: 700;
}

.modal-1, .modal-2, .modal-admin, .modal-my, .modal-camera{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  /*height: 100%;*/
  /*opacity: 0.4;*/
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.log-usr {
  background: #2d8ba4;
  border-radius: 90px;
  color: #ffffff;
  /*display: table-cell;*/
  font-size: calc(1rem * 5);
  font-weight: lighter;
  height: 130px;
  opacity: 0.95;
  overflow: hidden;
  vertical-align: middle;
  width: 130px;
}

.log-usr img{
  max-width: 130px;
}

.wusr {
  display: inline-block;
  margin-top: calc(60px * -1);
}

.wrlog {
  /*padding: 0 30px;*/
  z-index: 700;
  margin-top: -60px;
}

.inp-log {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  height: 3.4rem;
  outline: none;
  color: #868787;
}

.texts {
  margin-top: 25px;
}

.log-bnt {
  background-color: #2d8ba4;
  color: #fff;
  font-size: 21pt;
}

.log-chck {
  height: 25px;
}

.custom-control-label::before,  .custom-control-label::after{
  height: 2rem;
  left: -2.3rem;
  top: -0.25rem;
  width: 2rem;
}

.custom-control {
  user-select: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  background-image: url('/camagru_mvc/public/img/iconmonstr-checkbox-3.svg');
  background-size: cover;
  outline: 0;
  outline-offset: 0;
  border-radius: .25rem;
}

.custom-control-label {
  color: #fff;
}

.checks a {
    color: #fff;
    text-decoration: none;
}

.h2-login {
  color: #868787;
}

.login-social a{
  color: #2d8ba4;
  font-size: 3.4rem;
}

.social-login{
  color: #2d8ba4;
  font-size: 3.4rem;
}

.social-login i, img{
  cursor: pointer;
}

.icon_42 {
    border-radius: 5px;
    height: 3rem;
    width: 2.97rem;
    margin-top: -14px;
}

/*style for main page*/

body {
  background: #ffffff;
  font-family: sans-serif;
}

textarea {
  resize: none;
  background: #f2f2f2;
  margin-top: 5px;
  border: none;
}

.pcom {
  position: relative;
  padding: 0 !important;
  color: #2d8ba4;
}

.sendcomm {
  font-size: 40pt !important;
  vertical-align: super;
}

.textcomm textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px
}

.social {
  font-size: 20pt;
  margin-top: 5px;
  color: #2d8ba4;
}

.social i {
  margin-left: 10px;
}

.img-text {
  visibility: hidden;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fafafa;
  opacity: 0;
  top: 0px;
}

.img-tmln {
  /* max-height: 283px; */
  position: relative;
}

.img-tmln:hover .img-text {
  visibility: visible;
  opacity: 0.6;
  transition: visibility 0s, opacity 0.2s linear;
}

.bg-image {
  background-image: url(https://www.bing.com/s/hpb/NorthMale_EN-US8782628354_1920x1080.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -50;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.filter-bg-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.7;
  z-index: -50;
}

.circle-empty {
  margin-left: calc(50% - 8px);
  margin-bottom: -10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  z-index: 86;
  display: inline-block;
}

.circle {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 12px;
  margin-left: calc(50% - 6px);
  margin-bottom: -2px;
  height: 12px;
  z-index: 86;
  display: inline-block;
  background: #ffffff;
}

.vl {
  border: 2px solid #ffffff;
  height: calc(100% - 0px);
  margin-top: 0px;
  display: inline-block;
  margin-left: calc(50% - 2px);
  top: 0;
}

.end {
  border: 2px solid #ffffff;
  height: 2px;
  width: 18px;
  margin-left: calc(50% - 9px);
  position: relative;
  top: -3px;
}

.last-el {
  margin-bottom: 25px;
}

.end ul{
  display: none;
}

.comment-left, .comment-right {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  padding: 5px;
  font-weight: lighter;
  margin-top: 2px;
}

.popup-right-corner {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  padding: 5px;
  font-weight: lighter;
  margin-top: 2px;
}

.popup-right-corner:after {
  display: none;
  content: '';
  border: 8px solid transparent;
  border-left: 14px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  right: -22px;
  top: 13px;
  margin-top: -8px;
}

.popup-left-corner {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  /* !!! */
  padding: 5px;
  z-index: 1;
  margin-top: 2px;
  font-weight: lighter;
}

.popup-left-corner img, .popup-right-corner img {
  width: 100%;
}

.popup-left-corner:before {
  display: none;
  content: '';
  border: 8px solid transparent;
  border-right: 14px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: -22px;
  top: 13px;
  margin-top: -8px;
}

@media (min-width: 1000px) {
  .popup-left-corner:before, .popup-right-corner:after {
    display: block;
  }
}


/*admin panel*/

.left-admin {
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: black;
}

.right-admin {
  border-radius: 0 10px 10px 0;
  height: 100%;
  background: blue;
}

.admin-inner {
  height: 100%;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide {
  display: none !important;
}


/*animate load-bar*/


.cssload-container * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-container ul li{
  list-style: none;
}


.cssload-flex-container {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
}
.cssload-flex-container {
  padding: 0;
}
.cssload-flex-container li {
  width: 97px;
  position: relative;
  text-align: center;
}

.cssload-loading {
  top: -15px;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 4px;
  background: #ffffff;
  transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  animation: cssload-loading 4.6s ease infinite;
  -o-animation: cssload-loading 4.6s ease infinite;
  -ms-animation: cssload-loading 4.6s ease infinite;
  -webkit-animation: cssload-loading 4.6s ease infinite;
  -moz-animation: cssload-loading 4.6s ease infinite;
  /*margin-top: 34px;*/
}




@keyframes cssload-loading {
  0% {
    height: 4px;
    width: 18px;
  }
  5% {
    height: 4px;
    width: 18px;
  }
  30% {
    transform: rotate(380deg);
    height: 4px;
    width: 50px;
  }
  40% {
    transform: rotate(360deg);
    height: 4px;
    width: 50px;
  }
  55% {
    transform: rotate(0deg);
    height: 4px;
    width: 5px;
  }
  65% {
    transform: rotate(0deg);
    height: 4px;
    width: 60px;
  }
  68% {
    transform: rotate(0deg);
    height: 4px;
  }
  75% {
    transform: rotate(0deg);
    height: 4px;
    width: 4px;
  }
  78% {
    transform: rotate(-20deg);
    height: 4px;
    width: 4px;
  }
  90% {
    height: 4px;
    width: 50px;
    transform: rotate(0deg);
  }
  99%, 100% {
    height: 5px;
    width: 18px;
  }
}

/*@-o-keyframes cssload-loading {*/
  /*0% {*/
    /*-o-transform: rotate(-20deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*5% {*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*30% {*/
    /*-o-transform: rotate(380deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*40% {*/
    /*-o-transform: rotate(360deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*55% {*/
    /*-o-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*65% {*/
    /*-o-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 83px;*/
  /*}*/
  /*68% {*/
    /*-o-transform: rotate(0deg);*/
    /*height: 5px;*/
  /*}*/
  /*75% {*/
    /*-o-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*78% {*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*90% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-o-transform: rotate(0deg);*/
  /*}*/
  /*99%, 100% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-o-transform: rotate(-20deg);*/
  /*}*/
/*}*/

/*@-ms-keyframes cssload-loading {*/
  /*0% {*/
    /*-ms-transform: rotate(-20deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*5% {*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*30% {*/
    /*-ms-transform: rotate(380deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*40% {*/
    /*-ms-transform: rotate(360deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*55% {*/
    /*-ms-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*65% {*/
    /*-ms-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 83px;*/
  /*}*/
  /*68% {*/
    /*-ms-transform: rotate(0deg);*/
    /*height: 5px;*/
  /*}*/
  /*75% {*/
    /*-ms-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*78% {*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*90% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-ms-transform: rotate(0deg);*/
  /*}*/
  /*99%, 100% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-ms-transform: rotate(-20deg);*/
  /*}*/
/*}*/

/*@-webkit-keyframes cssload-loading {*/
  /*0% {*/
    /*-webkit-transform: rotate(-20deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*5% {*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*30% {*/
    /*-webkit-transform: rotate(380deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*40% {*/
    /*-webkit-transform: rotate(360deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*55% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*65% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 83px;*/
  /*}*/
  /*68% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*height: 5px;*/
  /*}*/
  /*75% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*78% {*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*90% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-webkit-transform: rotate(0deg);*/
  /*}*/
  /*99%, 100% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-webkit-transform: rotate(-20deg);*/
  /*}*/
/*}*/

/*@-moz-keyframes cssload-loading {*/
  /*0% {*/
    /*-moz-transform: rotate(-20deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*5% {*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*30% {*/
    /*-moz-transform: rotate(380deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*40% {*/
    /*-moz-transform: rotate(360deg);*/
    /*height: 5px;*/
    /*width: 73px;*/
  /*}*/
  /*55% {*/
    /*-moz-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*65% {*/
    /*-moz-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 83px;*/
  /*}*/
  /*68% {*/
    /*-moz-transform: rotate(0deg);*/
    /*height: 5px;*/
  /*}*/
  /*75% {*/
    /*-moz-transform: rotate(0deg);*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*78% {*/
    /*height: 5px;*/
    /*width: 5px;*/
  /*}*/
  /*90% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-moz-transform: rotate(0deg);*/
  /*}*/
  /*99%, 100% {*/
    /*height: 5px;*/
    /*width: 73px;*/
    /*-moz-transform: rotate(-20deg);*/
  /*}*/
/*}*/